.ant-btn:hover {
  color: #3db64f;
  border-color: #3db64f;
}
.ant-btn:focus {
  color: #3db64f;
  font-weight: 600;
  border-color: #3db64f;
}
.ant-btn-primary {
  color: #fff;
  background-color: #3db64f;
  border-color: #3db64f;
}
.ant-btn-primary:hover {
  color: #fff;
  border-color: #50df65;
  background-color: #50df65;
}
.ant-pagination-item:hover {
  border-color: #3db64f;
}
.ant-pagination-item:hover a {
  color: #3db64f;
}
.ant-pagination-item-active:hover {
  border-color: #3db64f;
}
.ant-pagination-item-active:hover a {
  color: #3db64f;
}
.ant-pagination-item-active {
  border-color: #3db64f;
}
.ant-pagination-item-active a {
  color: #3db64f;
}
.ant-pagination-item-active:focus {
  border-color: #3db64f;
}
.ant-pagination-item-active:focus a {
  color: #3db64f;
}
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #3db64f;
  color: #3db64f;
}
.ant-pagination-item-link:hover span {
  color: #3db64f;
}
.ant-pagination-prev:hover .ant-pagination-item-link {
  border-color: #3db64f;
  color: #3db64f;
}
.ant-pagination-disabled:hover .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}
.ant-pagination-disabled:hover span {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
}
.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 1024px) {
  .dashboard {
    flex-direction: column;
  }
}
.dashboard .dashboardComponents {
  width: 80%;
  height: 100%;
  position: absolute;
  right: 0;
}
@media (max-width: 1024px) {
  .dashboard .dashboardComponents {
    position: relative;
    width: 100%;
    padding-top: 20px;
  }
}
.mainHub {
  width: 100%;
  height: 20vh;
  padding: 0 5%;
  margin-top: 3%;
}
@media (max-width: 1024px) {
  .mainHub {
    margin-top: 4%;
  }
}
@media (max-width: 414px) {
  .mainHub {
    margin-top: 8%;
  }
}
.mainHub .search-add {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .mainHub .search-add button {
    margin-left: 10%;
  }
}
.mainHub .mainTable {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}
.mainHub .mainTable h4 {
  margin-top: 5%;
  margin-right: 15%;
}
.mainNavigation {
  height: 100vh;
  width: 20vw;
  position: fixed;
  left: 0;
  top: 0;
}
@media (max-width: 1024px) {
  .mainNavigation {
    position: relative;
    height: 13vh;
    width: 100%;
  }
}
.desktopNav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-shadow: 1px 1px lightgrey;
}
@media (max-width: 1024px) {
  .desktopNav {
    flex-direction: row;
    height: 13vh;
  }
}
.desktopNav .desktopLogo {
  margin: 20% auto;
}
@media (max-width: 1024px) {
  .desktopNav .desktopLogo {
    margin: 2% 0 0 0;
  }
  .desktopNav .desktopLogo img {
    height: 90%;
    width: auto;
  }
}
.desktopNav .dbButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  overflow: auto;
  height: 80vh;
}
@media (max-width: 1024px) {
  .desktopNav .dbButtons {
    flex-direction: row;
    white-space: nowrap;
    height: 90%;
    width: 80%;
    margin: auto;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
.desktopNav .dbButtons .ant-btn {
  margin: 5% 3%;
  height: 60px;
  padding: 15px 15px;
  white-space: normal;
  width: 100%;
}
@media (max-width: 1024px) {
  .desktopNav .dbButtons .ant-btn {
    display: inline-block;
    white-space: nowrap;
  }
}
.desktopNav .dbButtons #active {
  color: #3db64f;
  font-weight: 600;
  border-color: #3db64f;
}
.desktopNav .homepagebuttons {
  display: flex;
  justify-content: space-evenly;
}
.desktopNav .homepagebuttons .usersBtn {
  align-self: center;
  margin: 0 auto;
}
.desktopNav .homepagebuttons .usersBtn button {
  color: #3db64f;
}
.desktopNav .homepagebuttons .adminSignOut {
  margin: 8% auto;
}
.desktopNav .homepagebuttons .adminSignOut button {
  color: red;
}
.desktopNav .homepagebuttons .adminSignOut button:hover {
  color: #f83e3e;
  border-color: #f83e3e;
}
@media (max-width: 1024px) {
  .desktopNav .homepagebuttons .adminSignOut {
    margin: auto 2%;
  }
}
.mobileNav {
  display: none;
}
@media (max-width: 1024px) {
  .mobileNav {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    box-shadow: 0 2px lightgrey;
  }
  .mobileNav .mobileLogo img {
    height: 100px;
    width: auto;
  }
  .mobileNav .mobileMenu {
    border: 1px solid red;
    height: 1.5rem;
    width: 2rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    cursor: pointer;
  }
  .mobileNav .mobileMenu div {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transform: rotate();
  }
}
.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.typeFilterContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  left: 1%;
  bottom: 5vh;
  height: 175px;
  width: 200px;
  z-index: 100;
  padding: 1% 0 0 1%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.locationSearchBar {
  border: 1px solid green;
  position: absolute;
  top: 1%;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
}
.locationSearchBar input {
  padding: 0.2rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  outline: none;
}
.locateMeIcon {
  position: absolute;
  right: 0.3%;
  bottom: 15vh;
  background: none;
  border: none;
  z-index: 10;
  outline: none;
}
.locateMeIcon img {
  width: 40px;
  cursor: pointer;
}
.infoWindow {
  width: 400px;
}
.mediaImages {
  cursor: pointer;
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dialog {
  cursor: pointer;
  position: relative;
  box-shadow: 0 8px 6px -6px black;
  left: 30%;
  transform: translateX(-50%);
  top: 20%;
}
.image {
  cursor: pointer;
  position: absolute;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
i.fas {
  color: #3fb64f;
}
@media (max-width: 2000px) {
  .dialog {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
  .image {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .locationSearchBar {
    top: 10%;
    width: 90%;
  }
  .dialog {
    width: 90%;
  }
}
.recordsParent {
  max-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
}
.recordsParent .recordsHeader {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 3% auto 2% auto;
}
.recordsParent .recordsTable {
  width: 95%;
  margin: 0 auto;
}
.ant-table-container {
  height: 75vh;
  overflow-y: overlay;
}
@media (max-width: 414px) {
  .ant-table-container {
    height: 80vh;
  }
}
.fa-trash-alt:hover {
  color: red;
}
.fa-edit:hover {
  color: #3db64f;
}
.table-layout {
  border: 5px solid red;
}
.fieldsCard {
  width: 100%;
}
.line1,
.line2 {
  display: flex;
  justify-content: space-between;
}
